html {
  overflow-y: scroll;
}

body { 
  background-color: #24292e;
  margin:0;
}

.main {
  padding: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #24292e;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
  color: #e6edf3;
  font-family: Times New Roman;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
